<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="HDFrameworkProjFmPavan">
	<test name="Test1" >
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.HDFramworkProjFmPavan.testCases.TC_LoginTest_001"/>
			<class name="com.HDFramworkProjFmPavan.testCases.TC_AddcustomerTest_002"/>
		</classes>
	</test>
	
<!-- 	<test name="Test2" >
		<parameter name="browser" value="ie"/>
		<classes>
			<class name="com.HDFramworkProjFmPavan.testCases.TC_LoginTest_001"/>
		</classes>
	</test> 
	
	<test name="Test3" >
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="com.HDFramworkProjFmPavan.testCases.TC_LoginTest_001"/>
		</classes>
	</test>-->
</suite>